[submodule "api"]
	path = api
	url = https://github.com/siklid/siklid-api.git
[submodule "web"]
	path = web
	url = https://github.com/siklid/siklid-web.git
[submodule "docs"]
	path = docs
	url = https://github.com/siklid/siklid-docs.git
[submodule "mobile"]
    path = mobile
    url = https://github.com/siklid/siklid-mobile.git
